<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="joint_model">
    
    <xacro:include filename="$(find joint_description)/urdf/joint_model.macro.urdf"/>

    <xacro:property name="box_width" value="0.102" />
    <xacro:property name="radius" value="0.025" />
    <xacro:property name="length" value="0.01" />

    <xacro:property name="indicatorLength" value="0.025" />
    <xacro:property name="indicatorSize" value="0.002" />

    <!-- Links -->
    <link name="world"/>
    <link name="base_link"/>

    <xacro:RobotBox
        box_width="${box_width}"
        radius="${radius}"
        length="${length}"

        indicatorLength="${indicatorLength}"
        indicatorSize="${indicatorSize}"
        >
    </xacro:RobotBox>

    <joint name="base_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="stator_joint" type="fixed">
        <parent link="base_link"/>
        <child link="stator_link"/>
        <origin xyz="0 0 0.051" rpy="0 0 0"/>
    </joint>

</robot>
