<?xml version="1.0"?>
<robot name="qube_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro" />
  <xacro:include filename="$(find qube_driver)/ros2_control/qube_driver.ros2_control.xacro" />
  
  <xacro:arg name="baud_rate" default="115200"/> <!-- standard baud rate-->
  <xacro:arg name="device" default="ttyACM0"/>  <!-- comport: ttyACM0 -->
  <xacro:arg name="simulation" default="true"/> <!-- true/false-->

  <xacro:qube_driver_ros2_control
    name="QubeDriver"
    prefix=""
    baud_rate="$(arg baud_rate)"
    device="$(arg device)"
    simulation="$(arg simulation)"
  />

  <!-- World link -->
  <link name="world"/>

  <!-- Instansier Qube-makro -->
  <xacro:qube/>

  <!-- Fest base_link til world -->
  <joint name="world_base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>